<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <link href="/site/assets/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/:university">
            <div class="logo">
                <img src="/site/assets/images/ClassChats Logo Words.png">
                <!-- <h3 style="float: left;">ClassChats</h3> -->
            </div>
        </a>
        <span><a href="/">Log Out</a></span>
        <!-- <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> -->
    </header>
    <main>
        <div class="title">
            <h1>Add a CUNY (cuny.edu) Chat</h1>
        </div>
        <div class="add-bar">
            <input id="dept" placeholder="Department (full, e.g. CSCI)">
            <input id="courseNumber" placeholder="Course Number">
            <input id="professor" placeholder="Professor (full name)">
            <input id="section" placeholder="Section">
            <br>
            
            <input id="startTime" placeholder="Start Time">
            <input id="building" placeholder="Building">
            <input id="room" placeholder="Room Number">
            <br>
            
            <label>Days in session:</label>
            <input type="checkbox" name="day" id="sunday" value="sunday">
            <label for="sunday">Sunday</label>
            <input type="checkbox" name="day" id="monday" value="monday">
            <label for="monday">Monday</label>
            <input type="checkbox" name="day" id="tuesday" value="tuesday">
            <label for="tuesday">Tuesday</label>
            <input type="checkbox" name="day" id="wednesday" value="wednesday">
            <label for="wednesday">Wednesday</label>
            <input type="checkbox" name="day" id="thursday" value="thursday">
            <label for="thursday">Thursday</label>
            <input type="checkbox" name="day" id="friday" value="friday">
            <label for="friday">Friday</label>
            <input type="checkbox" name="day" id="saturday" value="saturday">
            <label for="saturday">Saturday</label>
            <br>
            
            <div class="button button--blue">Submit</div>
        </div>
    </main>
</body>
</html>