<% title = 'Add a Chat' %>
<%- include('partials/top.ejs') %>
    <main>
        <div class="title">
            <h1>Add a <%= locals.domain %> Chat</h1>  
        </div>
        <form class="add-bar" method="POST" action="">
            <input name="dept" id="dept" placeholder="Department (full, e.g. CSCI)">
            <input name="courseNumber" id="courseNumber" placeholder="Course Number">
            <input name="professor" id="professor" placeholder="Professor (full name)">
            <input name="section" id="section" placeholder="Section">
            <br>
            
            <input name="startTime" id="startTime" placeholder="Start Time">
            <input name="building" id="building" placeholder="Building">
            <input name="room" id="room" placeholder="Room Number">
            <br>
            
            <label>Days in session:</label>
            <input type="checkbox" name="sunday" id="sunday" value="sunday">
            <label for="sunday">Sunday</label>
            <input type="checkbox" name="monday" id="monday" value="monday">
            <label for="monday">Monday</label>
            <input type="checkbox" name="tuesday" id="tuesday" value="tuesday">
            <label for="tuesday">Tuesday</label>
            <input type="checkbox" name="wednesday" id="wednesday" value="wednesday">
            <label for="wednesday">Wednesday</label>
            <input type="checkbox" name="thursday" id="thursday" value="thursday">
            <label for="thursday">Thursday</label>
            <input type="checkbox" name="friday" id="friday" value="friday">
            <label for="friday">Friday</label>
            <input type="checkbox" name="saturday" id="saturday" value="saturday">
            <label for="saturday">Saturday</label>
            <br>
            <input name="gc-link" placeholder="Chat link">
            
            <button class="button button--blue">Submit</button>
        </form>
    </main>
</body>
</html>