<% title = 'Add a Chat' %>
<%- include('partials/top.ejs') %>
    <main>
        <div class="title">
            <h1>Add a <%= locals.session.university %> (<%locals.sessions.domain%>) Chat</h1>  
        </div>
        <div class="add-bar">
            <input id="dept" placeholder="Department (full, e.g. CSCI)">
            <input id="courseNumber" placeholder="Course Number">
            <input id="professor" placeholder="Professor (full name)">
            <input id="section" placeholder="Section">
            <br>
            
            <input id="startTime" placeholder="Start Time">
            <input id="building" placeholder="Building">
            <input id="room" placeholder="Room Number">
            <br>
            
            <label>Days in session:</label>
            <input type="checkbox" name="day" id="sunday" value="sunday">
            <label for="sunday">Sunday</label>
            <input type="checkbox" name="day" id="monday" value="monday">
            <label for="monday">Monday</label>
            <input type="checkbox" name="day" id="tuesday" value="tuesday">
            <label for="tuesday">Tuesday</label>
            <input type="checkbox" name="day" id="wednesday" value="wednesday">
            <label for="wednesday">Wednesday</label>
            <input type="checkbox" name="day" id="thursday" value="thursday">
            <label for="thursday">Thursday</label>
            <input type="checkbox" name="day" id="friday" value="friday">
            <label for="friday">Friday</label>
            <input type="checkbox" name="day" id="saturday" value="saturday">
            <label for="saturday">Saturday</label>
            <br>
            
            <div class="button button--blue">Submit</div>
        </div>
    </main>
</body>
</html>