<% title = 'Add a Chat' %>
<%- include('partials/top.ejs') %>
    <main>
        <div class="title">
            <h1>CUNY (cuny.edu) Chats | CSCI 111</h1>
            <span>Showing all classes</span>
        </div>
        <div class="section">
            <div class="top">
                <h3>Mon/Wed 9:45am | Lawrence Teitelman | SB B-141 | Section 3</h3>
            </div>
            <table class="chat-list">
                <tr>
                    <td>WA</td>
                    <td>Michael Kolber</td>
                    <td>
                        <div class="button button--orange">Edit</div>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>TG</td>
                    <td>Akiva Sherman</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <div class="top">
                <h3>Mon/Wed 9:45am | Lawrence Teitelman | SB B-141 | Section 3</h3>
            </div>
            <table class="chat-list">
                <tr>
                    <td>WA</td>
                    <td>Michael Kolber</td>
                    <td>
                        <div class="button button--orange">Edit</div>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>TG</td>
                    <td>Akiva Sherman</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>