<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <link href="/site/assets/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/:university">
            <div class="logo">
                <img src="/site/assets/images/ClassChats Logo Words.png">
                <!-- <h3 style="float: left;">ClassChats</h3> -->
            </div>
        </a>
        <span><a href="/">Log Out</a></span>
        <!-- <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> -->
    </header>
    <main>
        <div class="title">
            <h1>CUNY (cuny.edu) Chats | CSCI 111</h1>
            <span>Showing all classes</span>
        </div>
        <div class="section">
            <div class="top">
                <h3>Mon/Wed 9:45am | Lawrence Teitelman | SB B-141 | Section 3</h3>
            </div>
            <table class="chat-list">
                <tr>
                    <td>WA</td>
                    <td>Michael Kolber</td>
                    <td>
                        <div class="button button--orange">Edit</div>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>TG</td>
                    <td>Akiva Sherman</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <div class="top">
                <h3>Mon/Wed 9:45am | Lawrence Teitelman | SB B-141 | Section 3</h3>
            </div>
            <table class="chat-list">
                <tr>
                    <td>WA</td>
                    <td>Michael Kolber</td>
                    <td>
                        <div class="button button--orange">Edit</div>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>TG</td>
                    <td>Akiva Sherman</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>