<% title = 'Set Up University' %>
<%- include('partials/top.ejs') %>
    <main>
        <div class="title">
            <h1>Welcome!</h1>
            <p>
                You're the first user for cuny.edu.<br>
                Please make sure the name is correct, and fix it if you need to.
            </p>
        </div>
        
        <img class="empty-state" src="/site/assets/images/undraw_new_message_2gfk.svg">
        <div class="invisible-form">
            <input id="name" name="name" placeholder="University Name" value="CUNY" autofocus>
            <div class="button">Submit</div>
        </div>
    </main>
</body>
</html>