<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <link href="/site/assets/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/site">
            <div class="logo">
                <img src="/site/assets/images/ClassChats Logo Words.png">
                <!-- <h3 style="float: left;">ClassChats</h3> -->
            </div>
        </a>
        <span><a href="/signup">Sign Up</a> or <a href="/login">Log In</a></span>
    </header>
    <main>
        <div class="title title--main">
            <h1>No Mo' FOMO</h1>
            <span>Find a group chat for every class.</span>
        </div>
        <div class="section">
            <div class="top">
                <h3>Science Building B-141</h3>
            </div>
            <table class="chat-list">
                <tr>
                    <td>WA</td>
                    <td>CSCI 111</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (9:45am)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>CSCI 211</td>
                    <td>Jerry Waxman</td>
                    <td>Section 12 (12:00pm)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>ENSCI 99</td>
                    <td>Dax Soule</td>
                    <td>Section 1 (1:30pm)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>CSCI 212</td>
                    <td>Kenneth Lord</td>
                    <td>Section 31 (3:00pm)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>