<% title = 'Log In' %>
<%- include('partials/top.ejs') %>

    <main>
        <div class="title">
            <h1>Log In</h1>
        </div>
        
        <form class="central-box" method="POST" action="/login">
            <% if (locals.error !== undefined) { %>
                <div class="error"><%= error %></div>
            <% } %>
            <input id="username" name="username" type="email" placeholder="Username">
            <input id="password" name="password" type="password" placeholder="Password">
            <button id="submit" class="button">Log In</button>
        </form>
    </main>
    <!-- <script src="/js/login.js"></script> -->
</body>
</html>