<% title = 'Search' %>
<%- include('partials/top.ejs') %>
    <main>
        <div class="title">
            <h1>Search CUNY (cuny.edu) Chats</h1>
        </div>
        <div class="search-bar">
            <input placeholder="Department (e.g. CSCI)">
            <input placeholder="Course Number">
            <input placeholder="Professor (optional)">
            <div class="button button--blue">Search</div>
        </div>
        <div class="section">
            <div class="top">
                <h3>CSCI 111</h3>
            </div>
            <table class="chat-list">
                <tr>
                    <td>WA</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (Mon/Wed 9:45am)</td>
                    <td>SB B-141</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (Mon/Wed 9:45am)</td>
                    <td>SB B-141</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (Mon/Wed 9:45am)</td>
                    <td>SB B-141</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (Mon/Wed 9:45am)</td>
                    <td>SB B-141</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>