<% title = locals.session.university %>
<%- include('partials/top.ejs') %>
    <main>
        <div class="title">
            <h1>CUNY (cuny.edu) Chats</h1>
            <span>Showing nearby classes happening today</span>
        </div>
        <div class="section">
            <div class="top">
                <h3>Science Building B-141</h3>
            </div>
            <table class="chat-list">
                <tr>
                    <td>WA</td>
                    <td>CSCI 111</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (9:45am)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>CSCI 111</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (9:45am)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>CSCI 111</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (9:45am)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>CSCI 111</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (9:45am)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <div class="top">
                <h3>Science Building B-141</h3>
            </div>
            <table class="chat-list">
                <tr>
                    <td>WA</td>
                    <td>CSCI 111</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (9:45am)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>CSCI 111</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (9:45am)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>CSCI 111</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (9:45am)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
                <tr>
                    <td>WA</td>
                    <td>CSCI 111</td>
                    <td>Lawrence Teitelman</td>
                    <td>Section 3 (9:45am)</td>
                    <td>
                        <div class="button">Join</div>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>