<% title = 'Validation Required' %>
<%- include('partials/top.ejs') %>
    <main>
        <div class="title">
            <h1>Check your email for a validation code.</h1>
            <span>You need to complete this process before you can browse the chats.</span>
        </div>
        
        <img class="empty-state" src="/images/undraw_mail_box_kd5i.svg">
        <form class="invisible-form" method="POST" action="/validate">
            <input class="input--code" id="code" name="code" placeholder="Code" maxlength="6">
            <button class="button">Submit</button>
        </form>
    </main>
</body>
</html>