@import 'normalize';

html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

header, main {
    margin: auto;
    max-width: 1100px;
    width: 90%;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
    max-width: none;
    
    * {
        margin: auto 0;
    }
}

.logo img {
    height: 40px;
}

.title {
    margin: 50px 0;
    text-align: center;
    
    h1 {
        margin: 5px;
    }
    
    &--main {
        margin: 100px 0;
        
        h1 {
            font-size: 80pt;
        }
        
        span {
            font-size: 40pt;
        }
    }
}

.section {
    margin: 50px 0;
}

.chat-list {
    border-collapse: collapse;
    width: 100%;
    
    tr:not(:last-child) {
        border-bottom: 1px solid black;
    }
    
    td {
        padding: 15px 0;
        
        &:last-child {
            text-align: right;
        }
    }
}

.top h3 {
    margin-bottom: 0;
}

.button {
    background-color: #15b715;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline;
    padding: 7px 15px;
    text-align: center;
    
    &:hover {
        background-color: #2ee62e;
    }
    
    &--orange {
        background-color: orange;
        
        &:hover {
            background-color: #ffbd45;
        }
    }
}

input {
    border: none;
    border-bottom: 2px solid black;
    font-weight: 700;
    margin: 0 5px;
    outline: none;
}

.central-box {
    border: 3px solid black;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
    width: 50%;
    
    input {
        margin: 20px 0;
        width: 100%;
    }
    
    .button {
        display: block;
        margin: 20px auto;
    }
}

.empty-state {
    display: block;
    margin: auto;
    width: 50%;
}

.input--code {
    text-align: center;
    width: 70px;
}

.invisible-form {
    margin: 50px auto;
    width: fit-content;
}
